.front-page-top-div {
    display:block;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background.jpg');
}